<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>タグ</th>
  </thead>
  <tbody>
    <tr>
      <% tag_list.each do |list|%>
      <td>
        <%=link_to list.name, master_tag_posts_path(tag_id: list.id) %>
        <%="(#{list.posts.count})" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>